html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.homeHeader {
  height: 10em;
  width: 100%;
  background-image: url("./images/homeBanner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  box-shadow: 0px 4px 5px gray;
}

.homeHeader h1 {
  display: inline-block;
  color: white;
  text-align: center;
  margin-left: 5em;
  margin-top: .75em;
  font-size: 3em;
}

.dashboardHeader1 {
  height: 1.5em;
  width: 100%;
  background: rgb(143,103,33);
  background: linear-gradient(169deg, rgba(143,103,33,1) 0%, rgba(5,24,8,1) 100%);
  box-shadow: 0px 5px 5px rgb(133, 133, 133);
  position: relative;
}

.dashboardHeader1 p {
  display: inline-block;
  position: absolute;
  bottom: -9px;
  margin-left: 20px;
  font-size: .8em;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(4,23,4);
  background: linear-gradient(169deg, rgba(4,23,4,1) 0%, rgba(226,205,137,1) 100%);
  color: white;
  font-size: .75em;
  height: 1em;
  box-shadow: 0px -3px 10px gray;
}

.dashboardAppBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.dashboardBannerDiv {
  height: 4em;
  width: 67%;
}

/* .dashboardBannerIcon1 {
  background-image: url("https://www.pngitem.com/pimgs/m/469-4694050_user-hiking-hiking-icon-png-transparent-png.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 3em;
  float: right;
  width: 2.5em;
  margin-top: .5em;
  margin-right: 2em;
  border-radius: .5em;
}

.dashboardBannerIcon2 {
  background-image: url("https://www.pngitem.com/pimgs/m/469-4694050_user-hiking-hiking-icon-png-transparent-png.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 3em;
  float: right;
  width: 2.5em;
  margin-top: .5em;
  margin-right: 2em;
  border-radius: .5em;
}

.dashboardBannerIcon3 {
  background-image: url("https://www.pngitem.com/pimgs/m/469-4694050_user-hiking-hiking-icon-png-transparent-png.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 3em;
  float: right;
  width: 2.5em;
  margin-top: .5em;
  margin-right: 2em;
  border-radius: .5em;
} */

/* .dashboardBannerIcon1 {
  background-image: url("https://lh3.googleusercontent.com/proxy/ijJ7qlbH9_7N7TWBrM65DcaHxng3h_XlA-rKWEpFFR1vzAHJsVpyuIESlax1tHxVZKBz2WkXkpwZXhS3tANSMswwoDXFVXFCA-zapAGagtbYyRoxjktv");
  background-size: contain;
  background-repeat: no-repeat;
  height: 4em;
  float: right;
  width: 30em;
  margin-right: 2em;
} */

.MuiBreadcrumbs-separator {
  font-size: 2em;
}

.MuiBreadcrumbs-ol {
  justify-content: center;
}

.test {
  color: rgb(206, 154, 57);
  color: rgb(121, 119, 115);
}
